html { 
  scroll-behavior: smooth; 
}

body { 
  margin: 0;
  background: url('https://raw.githubusercontent.com/MAOAZAking/jesucristovive555/main/multimedia/img/fondo-ministerio-de-restauracion-jesucristo-vive.png');
  background-size: 100% auto;
  background-position: center;
}

[id^="seccion"] {
  scroll-margin-top: 70px;
}

.barra-superior {
  background: rgb(5, 5, 111);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 8px 0;
  font-weight: 500;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
  letter-spacing: 0.5px;
  letter-spacing: 3px;
}

.navbar {
  background: linear-gradient(rgba(179, 74, 9, 0.5), rgba(179, 74, 9, 0.5)),
  url('https://raw.githubusercontent.com/MAOAZAking/jesucristovive555/main/multimedia/img/fondo-ministerio-de-restauracion-jesucristo-vive.png');
  background-size: 100%;
  background-position: center;
  transition: 0.4s;
  top: 35px; 
}

.navbar.barra-activa { 
  background: linear-gradient(rgba(179, 74, 9, 0.5), rgba(179, 74, 9, 0.5)),
  url('https://raw.githubusercontent.com/MAOAZAking/jesucristovive555/main/multimedia/img/fondo-ministerio-de-restauracion-jesucristo-vive.png');
  background-size: 100% auto;
  background-position: center; 
  box-shadow: 0 5px 20px rgba(0,0,0,0.4); 
}

.estilo-ministerio-de-restauracion{

}

.estilo-jesucristo-vive{
  text-shadow: 0 0 0.6px white;
  filter: 
    drop-shadow(0px 0px 0.6px rgb(255, 255, 255))
    drop-shadow(0px 0px 0.6px rgb(255, 255, 255))
    drop-shadow(0px 0px 0.6px rgb(255, 255, 255))
    drop-shadow(0px 0px 0.6px rgb(255, 255, 255));
}

#estilo-jesucris-o{
  font-size: xx-large;
  font-family: 'Kalam', cursive;
  font-weight: 700;
  color:rgb(255, 0, 0);
}

#estilo-t-forma-cruz{
  font-size: xx-large;
  font-family: 'Saira', sans-serif;
  font-weight: 700;
  color:rgb(255, 0, 0);
  padding-left: 1px;
}


#estilo-vive{
  font-size: 22px;
  font-family: 'Playball', cursive;
  transform: skewX(20deg);  /* Ajusta la inclinacion del texto entre mas alto el numero mas a la izquierda esta tirado el texto */
  display: inline-block;
  font-weight: 400; /* opcional */
  color:rgb(0, 0, 138);
  letter-spacing: 1px; /*Espaciado entre letras de 1px*/
}

.portada {
  background: url('https://raw.githubusercontent.com/MAOAZAking/jesucristovive555/main/multimedia/img/portada-ministerio-de-restauracion-jesucristo-vive.png');
  width: 100%;
  height: clamp(140px, 30vw, 250px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: white;
}

.portada h1 {
  animation: fadeDown 1.5s ease;
}

.portada p {
  animation: fadeUp 2s ease;
}

.titulos-grandes{
  font-family: 'Kalam', cursive;
  color: red;
}

#titulos-grandes-centrados{
  font-size: 60px;
  text-shadow: 0 0 3px rgb(255, 255, 255);
  filter: 
    drop-shadow(4px 4px 2px rgb(0, 0, 0, 0.7));
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* borde blanco */
}

#titulos-grandes-sin-alinear{
  font-size: 40px;
  text-shadow: 0 0 1.5px rgb(255, 255, 255);
  filter: 
    drop-shadow(2px 2px 1.5px rgb(0, 0, 0, 0.7));
  -webkit-text-stroke: 1.5px rgb(255, 255, 255); /* borde blanco */
}

.titulos-pequenos{
  font-size: 25px;
  font-family: 'Playball', cursive;
  transform: skewX(20deg);  /* Ajusta la inclinacion del texto entre mas alto el numero mas a la izquierda esta tirado el texto */
  display: inline-block;
  font-weight: 400; /* opcional */
  color:rgb(0, 0, 138);
  letter-spacing: 1px; /*Espaciado entre letras de 1px*/
  font-weight: 700; /*Grozor de las letras*/
}

#icono {
  color:  rgb(5, 5, 111);
}

#contenedor-video-devocional-diario iframe{
  border: 4px solid rgb(179, 74, 9, 0.6);
  background: linear-gradient(rgba(179, 74, 9, 0.5), rgba(179, 74, 9, 0.5)),
  url('https://raw.githubusercontent.com/MAOAZAking/jesucristovive555/main/multimedia/img/fondo-se-esta-cargando-el-video-del-devocional.png');
  background-size: 100% auto;
  background-position: center
}

#tarjeta{
  background: linear-gradient(rgba(179, 74, 9, 0.5), rgba(179, 74, 9, 0.5)),
  url('https://raw.githubusercontent.com/MAOAZAking/jesucristovive555/main/multimedia/img/fondo-ministerio-de-restauracion-jesucristo-vive.png');
  background-size: 100% auto;
  background-position: center
}

.contenedor-audio{
  background: linear-gradient(rgba(179, 74, 9, 0.5), rgba(179, 74, 9, 0.5)),
  url('https://raw.githubusercontent.com/MAOAZAking/jesucristovive555/main/multimedia/img/fondo-ministerio-de-restauracion-jesucristo-vive.png');
  background-size: 100% auto;
  background-position: center
}

/* BOTON SUBIR */
#boton-subir {
    border: 3px solid rgb(255, 255, 255);
    background: linear-gradient(rgba(179, 74, 9, 0.5), rgba(179, 74, 9, 0.5)),
    url('https://raw.githubusercontent.com/MAOAZAking/jesucristovive555/main/multimedia/img/fondo-ministerio-de-restauracion-jesucristo-vive.png');
    background-size: 100% auto;
    background-position: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
}

footer {
  background: linear-gradient(rgba(179, 74, 9, 0.5), rgba(179, 74, 9, 0.5)),
  url('https://raw.githubusercontent.com/MAOAZAking/jesucristovive555/main/multimedia/img/fondo-ministerio-de-restauracion-jesucristo-vive.png');
  background-size: 100% 100%;
  background-position: center;
  height: 80px;
  text-align: center;
}